.banner__hover_v3 {
  position: relative;
  overflow: hidden;
}



.home__overlay_text_v3 {
  top: 120px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  transition: opacity 0.3s ease;
}

.home__overlay--text_v3_mobile {
  top: 120px;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  transition: opacity 0.3s ease;
}

.sideBanner_image_v3_mobile {
  filter: brightness(75%);
}

@media only screen and (max-width: 900px) {
  .home__overlay--text_v3_mobile {
    top: 370px; /* Adjust top position for medium devices */
    bottom: 0px;
    padding: 15px; /* Adjust padding for medium devices */
    font-size: 20px; /* Adjust font size for better readability */
  }
}

@media only screen and (max-width: 480px) {
  .home__overlay--text_v3_mobile {
    top: 150px; /* Adjust top position for mobile devices */
    padding: 10px; /* Adjust padding for mobile devices */
    font-size: 16px; /* Adjust font size for better readability */
  }

  .home__overlay--text_v3_mobile h5 {
    font-size: smaller;
  }

  .home__overlay--text_v3_mobile p {
    font-size: xx-small;
  }
}

.home__overlay_text_v3 h5 {
  font-size: smaller;
}

.home__overlay_text_v3 p {
  font-size: xx-small;
}

.banner__hover_v3:hover .featured__image {
  transition: transform 0.5s;
  transform: scale(1.1);
  overflow: hidden;
}


.banner__hover_v3:hover .sideBanner_image_v3 {
  filter: brightness(60%); /* Show on hover */
}

.mobile_homebanner {
  display: none !important;
}

@media (max-width: 500px) {
  .mobile_homebanner {
    display: block !important;
  }

  .pc_homebanner {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
