.navPosition {
  position: sticky;
  top: 23px;
  z-index: 999;
}

.navbar {
  background-color: #e5e6e6;

}

.desktop_nav {
  width:100%;

}


.d_navlogo {
  float: inline-start;
}

.navigation_menu {
  float: left;

}

.header_icons{
  float:inline-end;
}

.search_bar {
  position: absolute;
  top: 100%; /* Start position */
  left: 65%;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px); /* Start off slightly above */
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  background-color: #02112f;
}

.mobile-search_bar {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mobile-nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .search_bar {
    position: absolute;
    top: 100%; /* Start position */
    left: 55%;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px); /* Start off slightly above */
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    background-color: #02112f;
  }
}

@media (max-width: 600px) {
  .search_bar {
    position: absolute;
    top: 100%; /* Start position */
    left: 0;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px); /* Start off slightly above */
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    background-color: #02112f;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .search_bar {
    position: absolute;
    top: 100%; /* Start position */
    left: 25%;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    background-color: #02112f;
  }
}
.visible {
  opacity: 1;
  transform: translateY(0); /* Slide into place */
  pointer-events: auto;
}

.navbar_nav {
  --bs-nav_link-padding-y: 0.2rem !important;
}

.navbar_expand_lg {
  flex-wrap: nowrap;
  justify-content: space-around !important;
}

.navbar ul li a {
  font-weight: 800;
  font-style: normal;
  font-size: 14px !important;
  letter-spacing: 0.8px;
}

.navbar .dropdown_toggle {
  font-weight: 800;
  font-style: normal;
  font-size: 14px !important;
  letter-spacing: 0.8px;
}

.navbar ul li a span {
  font-weight: 800;
  font-style: normal;
  font-size: 14px !important;
  letter-spacing: 0.8px;
}

.nav_details .nav_home_btn {
  font-weight: 600;
  font-style: normal;
  font-size: 14px !important;
}

.nav_details .dropdown_toggle {
  transition: all 0.3s linear;
  /* color: white !important; */
}

.navbar_Offcanvas {
  background-color: #121212 !important;
  /* color: white !important; */
}
.nav_details .nav_item .nav_link span {
  padding-bottom: 3px;
  /* color: white !important; */
  border-bottom: 4px solid transparent !important;
  transition: border-bottom-color 0.3s ease;
}

.nav_logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

/* @media (min-width: 992px) and (max-width: 1300px) {
  .navbar {
    overflow-x: hidden; 
  }
} */

.mobile_nav_menu{
  background-color: #767d8a;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1000px) {
  .mobile_offcanvas ul li a {
    font-weight: 800;
    font-style: normal;
    font-size: 24px !important;
    letter-spacing: 0.8px;
  }

  .mobile_offcanvas .dropdown_toggle {
    font-weight: 800;
    font-style: normal;
    font-size: 24px !important;
    letter-spacing: 0.8px;
  }

  .mobile_offcanvas .dropdown_item {
    font-style: normal;
    padding: 5px 5px;
    font-size: 20px !important;
    letter-spacing: 0.8px;
  }

  .mobile_offcanvas ul li a span {
    font-weight: 800;
    font-style: normal;
    font-size: 24px !important;
    letter-spacing: 0.8px;
  }

  .mobile_offcanvas .nav_home_btn {
    font-weight: 600;
    font-style: normal;
    font-size: 24px !important;
  }
}

.nav_details .dropdown_toggle {
  padding-bottom: 3px;
  /* color: white; */
  border-bottom: 4px solid transparent !important;
  transition: border-bottom-color 0.3s ease;
}

.nav_details .nav_item .nav_link span:hover {
  /* color: white; */
  border-bottom: 4px solid #ffc702 !important;
}

.nav_details .dropdown_toggle:hover {
  /* color: white; */
  border-bottom: 4px solid #ffc702 !important;
}

.nav_details .dropdown:hover .dropdown_toggle {
  background-color: none;
}

.nav_details .dropdown_menu_custom a {
  padding: 10px 15px !important;
}

.nav_details .dropdown_menu_custom a:not(:last-child) {
  border-bottom: 2px solid rgb(241, 241, 241) !important;
}

.nav_details .dropdown_menu_custom a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #bbbbbc !important;
}

.nav_details .dropdown:hover .nav_item .nav_link {
  border-bottom: 4px solid #ffc702 !important;
}

.nav_details .dropdown:hover .dropdown_toggle {
  border-bottom: 4px solid #ffc702 !important;
}

.nav_details .dropdown_menu_custom {
  border: none !important;
}

.nav_details .dropdown_menu_custom {
  --bs-dropdown-zindex: 1000;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin-top: 1px;
}

.subscribeButton {
  background-color: #ff6347; /* Tomato color */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  animation: pulse 2s infinite ease-in-out; /* Pulsing animation */
  transition: transform 0.3s ease;
}

/* Define the pulsing animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.7); /* Initial glow */
  }
  50% {
    transform: scale(1.1); /* Slightly bigger */
    box-shadow: 0 0 20px rgba(255, 99, 71, 1); /* Brighter glow */
  }
}

.subscribeButton:hover {
  /* background-color: white; */
  color: red;
}

@media (max-width: 1000px) {
  .navPosition nav {
    display: none;
  }
}

@media (min-width: 1000px) {
  .mobile_navbar {
    display: none;
  }
}
